<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../CSS/style.css">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
      <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
      <title> 예제해보기</title>
   </head>

   <body>
      <div id="app">
         <p v-bind:id="idA">아이디 바인딩</p>
         <p v-bind:class="classA">클래스 바인딩</p>
         <p v-bind:style="styleA">스타일 바인딩</p>
         <p>{{ reversedMessage }}</p>
         <p v-if="flag">v-if flag 이용
         <button>no show</button></p>
         <ul>
           <li v-for="system in systems">{{ system }}</li>
         </ul>
         <p v-show="flag">v-show 속성 이용
          <button>no show</button>
         </p>
         <h5 v-bind:id="uid">v-bind 속성</h5>
         <button v-on:click="popupAlert(10)">경고 창 버튼</button>
         <button v-on:click="eventClick">이벤트 클릭</button>
         <p> {{ xPos + ' ' + yPos}}</p>
         <input v-model="xPos">
      </div>

  <script>
    new Vue({
      el: '#app',
      data:{
        idA : 10,
        classA: 'container',
        styleA: 'color: blue',
        message: 'Hello Vue.js!',
        flag: true,
        systems: ['android',' ios','window'],
        uid: 10,
        xPos: '',
        yPos: ''
      },
      // data 속성 값의 변화에 따라 자동으로 다시 연산
      // 캐싱을 이용해 동일한 연산을 반복하지 않고 값을 저장하고 있다가 불러다가 쓴다
      // computed: 대상 데이터 값이 변경되면 자동적으로 수행
      // methods: 호출할 때만 해당 로직 수행
      // 복잡한 연산을 반복적으로 수행한다면 computed속성을 이용하느게 효율적!!
      computed: {
        reversedMessage: function() {
          return this.message.split('').reverse().join('');
        }
      },
      methods: {
        popupAlert: function(num) {
          return alert('경고 창 표시 ' + num);
        },
        eventClick: function(event) {
          console.log(event);
          this.xPos = '클릭한 x좌표: ' + event.screenX;
          this.yPos = '클릭한 y좌표: ' + event.screenY;
        }
      },
      watch: {
        xPos: function(data) {
          console.log("message의 값 변화: ", data);
        }
      }
      // watch: 데이터 변화를 감지하여 자동으로 특정 로직을 수행
      // computed 속성은 내장 API를 이용한 간단한 연산 정도에 적합
      // but, watch 속성은 데이터 호출과 같이 시간이 상대적으로 더 많이 소모되는 비동기 처리에 적합
    });
  </script>
   </body>
</html>
